<ion-view view-title="Well Reading">
  <ion-content>
    <div class="measure-box">
      <a class="ion-asterisk measure-figure1"></a>
      <div class="measure-figure">{{model.wellReading}} Ft</div>
      <button class=" button button-positive upload-button" ng-click="model.uploadData()">
        Upload to Cloud
      </button>
    </div>

    <!--<img src="img/well-det2.png" class="img-responsive img3">-->
    <img src="img/Well-Section.png" class="img-responsive img3">

  </ion-content>
</ion-view>
