<ion-view view-title="Account">
    <!--<ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>-->
   <!-- <div class="row" >
      <div class="col-md-6" id="img1">
        <img src="img/w1.png" class="img-responsive  " id="img2" >
      </div>
    </div>-->

    <!--<ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <h1>Current Installation</h1>
        <hr>
        <img src="img/m1.png" class="img-responsive" id="img2" >
      </ion-slide>
      <ion-slide>
        <h1>Installation 1</h1>
        <hr>
        <img src="img/m1.png" class="img-responsive  " id="img2" >
      </ion-slide>
      <ion-slide>
        <h1>Installation 2</h1>
        <hr>
        <img src="img/m1.png" class="img-responsive  " id="img2" >
      </ion-slide>
    </ion-slide-box>-->
    <ion-content>
      h1>Marker Events example</h1>
      <ul>
        <li><strong ng-bind="eventDetected"></strong> event caught in listener.</li>
      </ul>
      <div data-tap-disabled="true">
        <leaflet  lf-center="boston" event-broadcast="events" markers="markers" defaults="defaults" width="100%" height="600px"></leaflet>
      </div>
    </ion-content>
</ion-view>
