<ion-view view-title="Guide For Boston LightWells">
  <ion-content>
    <!--<div class="list card">
      <div class="item">
        <h2><b>{{model.guide.guides[0].title}}</b></h2>
      </div>
      <div class="item item-body">
        <p>
          <b>{{model.guide.tab1}}</b>
          {{model.guide.guides[0].content1}}
        </p>
        <p>
          <b>{{model.guide.tab2}}</b>
          {{model.guide.guides[0].content2}}
        </p>
      </div>
    </div>


    <div class="list card">
      <div class="item">
        <h2><b>{{model.guide.guides[1].title}}</b></h2>
      </div>

      <div class="item item-body">
        <p>
          {{model.guide.guides[1].content1}}
        </p>
      </div>
    </div>


    <div class="list card">
      <div class="item">
        <h2><b>{{model.guide.guides[2].title}}</b></h2>
      </div>

      <div class="item item-body aboutUsMargin">
        <p>
          {{model.guide.guides[2].content1}}
        </p>
        <div class="guideMargin">
        <p>
          {{model.guide.guides[3].content1}}
        </p>
        </div>
      </div>
    </div>-->
    <img src="img/Legend.png" class="img-responsive img4">
  </ion-content>
</ion-view>

